@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0deg 0% 18.82%;
    --foreground: 240 10% 3.9%;
    
    --primary: 204.24deg 100% 60.2%;
    --primary-foreground: 240 5.9% 10;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 0deg 100% 59.61%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground w-[100svh] lg:w-screen;
  }
}